rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /scores/{userId} {
      allow read, read: if true;
    }
  }
}